<footer class="footer">
            <div class="container-fluid">
                
				<div class="copyright pull-left">
                    Copyright @@NWKRTC Hubli. Developed By NWKRTC Team.
                </div>
            </div>
        </footer>

    </div>
</div>
</body>
</html>