<div>

<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->
    <button type="button" class="navbar-toggle collapsed" data-toggle="dropdown">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
    	<div class="sidebar-wrapper">
            <div class="logo">
                    <h6> Profit Plus</h6>
                    
            </div>
            <div id="mymneu">
            <ul class="nav">
                @Html.Raw(Session["menu"])
            </ul>
            </div>
    	</div>
    </div>
    </div>
    <div class="main-panel">